{%- liquid
  assign image = settings.account_image
  assign return_to = routes.account_url | append: '?from-form'
-%}

<section class="account-section">
  <div class="account-section__container-image">
    {%- if image != blank -%}
      <media-loader>
        {{
          image
          | image_url: width: image.width
          | image_tag: class: 'account-section__image', sizes: '(min-width: 540px) 100vw, 50vw', loading: 'lazy'
        }}
      </media-loader>
    {%- endif -%}
  </div>
  <page-viewer class="account-section__container-content" data-page-viewer-default="login">
    <div class="account-section__content-recover" data-page-viewer-block="recover">
      <div class="account-section__title" role="heading" aria-level="2">
        {{- 'customer.forgot_password.title' | t -}}
      </div>
      <div class="account-section__sub-text">
        {{- 'customer.forgot_password.sub_text' | t -}}
      </div>

      <smart-form>
        {%- form 'recover_customer_password', class: 'account-section__form', id: 'recover_customer_password' -%}
          {%- assign recover_success = form.posted_successfully? -%}

          {%- if form.errors -%}
            {%- assign form_errors_recover = 'form-element--error' -%}
            <div class="account-section__error">
              {{- 'icon-error.svg' | inline_asset_content -}}
              <div class="account-section__error-content">
                <span class="account-section__error-text">
                  {{- 'customer.forgot_password.error_text' | t -}}
                </span>
                {%- for error in form.errors -%}
                  <li class="account-section__error-text--sub">
                    {{- form.errors.messages[error] -}}
                  </li>
                {%- endfor -%}
              </div>
            </div>
          {% endif %}

          <div class="account-section__input-container">
            <label class="form-element {{ form_errors_recover }} account-section__label" for="RecoverEmail">
              {{- 'customer.forgot_password.email_label' | t -}}
            </label>
            <input
              class="form-element {{ form_errors_recover }}  account-section__input"
              type="email"
              name="email"
              placeholder="{{- 'customer.forgot_password.email_placeholder' | t -}}"
              id="RecoverEmail"
              aria-required="true"
              required
            >
          </div>

          <input
            class="primary-button primary-button--dark primary-button--block account-section__button"
            type="submit"
            value="{{- 'customer.forgot_password.cta_text' | t -}}"
          >
        {%- endform -%}
      </smart-form>

      <div class="account-section__cancel">
        <a
          href="#login"
          class="form-element secondary-button"
          data-page-viewer-action="login"
        >
          {{- 'customer.forgot_password.cancel_text' | t -}}
        </a>
      </div>
    </div>
    <div class="account-section__content-login" data-page-viewer-block="login">
      <h1 class="account-section__title">
        {{- 'customer.login.title' | t -}}
      </h1>

      <smart-form>
        {%- form 'customer_login', class: 'account-section__form', novalidate: 'novalidate', return_to: return_to -%}
          {%- if form.errors -%}
            {%- assign form_errors = 'form-element--error' -%}
            <div class="account-section__error">
              {{- 'icon-error-account.svg' | inline_asset_content -}}
              <div class="account-section__error-content">
                {% for error in form.errors %}
                  <div class="account-section__error-text">{{- form.errors.messages[error] -}}</div>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}

          {%- if recover_success == true -%}
            <div class="account-section__success">
              {{- 'icon-success-account.svg' | inline_asset_content -}}
              <span class="account-section__success-text">{{- 'customer.login.success_text' | t -}}</span>
            </div>
          {%- endif -%}

          <div class="account-section__input-container">
            <label class="form-element {{ form_errors }} account-section__label" for="AccountEmail">
              {{- 'customer.login.email_label' | t -}}
            </label>
            <input
              class="form-element {{ form_errors }} account-section__input"
              type="email"
              name="customer[email]"
              placeholder="{{- 'customer.login.email_placeholder' | t -}}"
              id="AccountEmail"
              aria-required="true"
              required
            >
          </div>

          <div class="account-section__input-container">
            <label class="form-element {{ form_errors }} account-section__label" for="AccountPassword">
              {{- 'customer.login.password_label' | t -}}
            </label>
            <input
              class="form-element {{ form_errors }} account-section__input"
              type="password"
              name="customer[password]"
              placeholder="{{- 'customer.login.password_placeholder' | t -}}"
              id="AccountPassword"
              required
            >
          </div>

          <a href="#recover" class="account-section__forgot secondary-button" data-page-viewer-action="recover">
            {{- 'customer.login.forgot_password_text' | t -}}
          </a>

          <input
            class="primary-button primary-button--dark primary-button--block account-section__button"
            type="submit"
            value="{{- 'customer.login.cta_text' | t -}}"
          >
        {%- endform -%}
      </smart-form>

      <div class="account-section__create">
        {{- 'customer.login.create_text' | t }}
        <a href="{{- routes.account_register_url -}}" class="form-element secondary-button">
          {{- 'customer.login.create_link_text' | t -}}
        </a>
      </div>
    </div>
  </page-viewer>
</section>
