<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% # Google Tag Manager %}
    {% if settings.gtm_container_id != blank %}
      <script nonce="null">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
      n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer',{{ settings.gtm_container_id | json }});</script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="preconnect" href="//cdn.shopify.com" crossorigin>

    {% # Preloads %}
    <link rel="preload" href="{{ 'styles.min.css' | asset_url }}" as="style" />
    <link rel="preload" href="{{ 'font-Inter-Regular.woff2' | asset_url | split: '?' | first }}" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="{{ 'font-Inter-Medium.woff2' | asset_url | split: '?' | first }}" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="{{ 'font-GT-Walsheim-Black.woff2' | asset_url | split: '?' | first }}" as="font" type="font/woff2" crossorigin />
    <script src="{{ 'scripts-preload.min.js' | asset_url }}" type="module"></script>
    <script src="{{ 'scripts.min.js' | asset_url }}" type="module"></script>

    {% # Favicons %}
    <link rel="icon" type="image/svg+xml" href="{{ 'favicon.svg' | file_url | split: '?' | first }}">
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | file_img_url: '96x96' | split: '?' | first }}" sizes="96x96" >
    <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | file_img_url: '180x180' | split: '?' | first }}" sizes="180x180">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | file_url | split: '?' | first }}">
    <meta name="apple-mobile-web-app-title" content="{{ shop.name }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | file_url | split: '?' | first }}">

    <title>{{ shop.name }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- liquid
      render 'site-social-cards'
      render 'theme-styles'
    -%}

    <script type="text/javascript">
      document.querySelector('html').classList.remove('no-js', 'beforeunload');
    </script>

    {{ content_for_header }}
  </head>

  <body class="min-h-dvh flex flex-col color-{{ settings.default_color_scheme }}">

    {% if settings.gtm_container_id != blank %}
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.gtm_container_id }}"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}

    <a class="absolute left-0 top-0 -translate-y-20 focus:translate-0 bg-black text-white p-4"
      style="z-index: 9999;" href="#MainContent">
      {{- 'accessibility.skip_to_text' | t -}}
    </a>

    <main role="main" id="MainContent" class="flex flex-1 flex-col">
      {{ content_for_layout }}
    </main>

    {%- if settings.klaviyo_id != blank -%}
      {% comment %}theme-check-disable{% endcomment %}
      <script
        async
        type="text/javascript"
        src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id={{ settings.klaviyo_id }}"
      ></script>
      <script>
        var _learnq = _learnq || [];
        if ('{{ customer.email }}') {
          _learnq.push([
            'identify',
            {
              $email: '{{ customer.email }}',
            },
          ]);
        }
      </script>
      {% comment %}theme-check-enable{% endcomment %}
    {%- endif -%}

  </body>
</html>
